{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2 class="mt-5 p-4 text-center">Edit {{event_template.name}} details</h2>
          <form id="new_event_template_form" action="{% url 'volunteer:edit_event_template' event_template.id%}" method="POST">
            {% csrf_token %}
            {{ edit_event_form|crispy }}
              <div class="text-center text-md-right">
                <button class="btn btn-primary" type="submit">Save Changes</button>
              </div>
          </form>
        </div>
      </div>
    </div>
{% endblock content %}

{% block scripts%}
    <script src="{% static 'scripts/newEventVenue.js' %}"></script>
{% endblock scripts%}

