{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container">
  {% if  event_template.is_template %}
    <h1 class="header text-center">Event Blueprint Details</h1>
  {% elif event_template.is_template == 0 %}
    <h1 class="header text-center">{{event_template.name}} on {{event_template.date}}</h1>
  {% endif %}
  <div class="row">
    <div class= "row col-lg-6 col-sm-12 mt-5 mb-4">
      <dt class="col-sm-3"> Event Name:</dt>
      <dd class="col-md-9">{{event_template.name}}</dd>
      <dt class="col-sm-3"> Venue:</dt>
      <dd class="col-md-9">{{event_template.venue}}</dd>
      <dt class="col-sm-3"> Location:</dt>
      <dd class="col-md-9">{{event_template.venue.location}}</dd>
      <dt class="col-sm-3"> Description:</dt>
      <dd class="col-md-9">{{event_template.description}}</dd>
      {% if event_template.is_template == 0  %}
      <dt class="col-sm-3"> Date:</dt>
      <dd class="col-md-9">{{event_template.date}}</dd>
      {% endif %}
       <div class="text-center col">
          <div class="col-8 btn-group-md btn-group-vertical mt-4">
          {% if event_template.is_template == 0 %}
            <button class="m-1 btn-dark btn copyLink">Copy Sign-up Link to clipboard</button>
            <input type="text" class="sr-only" value="{{domain}}/sign_up/{{event_template.sign_up_url}}" id="url">
          {% endif %}
          {% if  event_template.is_template %}
            <a href="{% url 'volunteer:schedule_event' event_template.id %}"class="m-1 btn-dark btn">Schedule Occurence</a>
          {% endif %}
              <a class="m-1 btn btn-primary text-white" href="{% url 'volunteer:edit_event_template' event_template.id %}">edit event details</a>
              <a class="m-1 btn btn-danger text-white" href="{% url 'volunteer:delete_event_confirm' event_template.id %}">delete event</a>
          </div>
       </div>
    </div>

      <div class= "col-lg-6 col-sm-12">
        <h4 class="text-center">Volunteer Shifts</h4>
        <div class="classic-tabs">
          <ul class="nav nav-tabs" id="volTab" role="tablist">
            <li class="nav-item">
            {% if  event_template.is_template%}
                <a class="nav-link waves-light disabled" id="vm-tab-classic" data-toggle="tab" href="#vm-classic"
                role="tab" aria-controls="vm-classic" aria-selected="false">Venue Manager View</a>
                <a class="nav-link waves-light active show" id="detail-tab-classic" data-toggle="tab" href="#detail-classic" role="tab"
                aria-controls="detail-classic" aria-selected="true">Shift Details View</a>
            {% elif event_template.is_template == 0 %}
                <a class="nav-link waves-light active show" id="vm-tab-classic" data-toggle="tab" href="#vm-classic"
                role="tab" aria-controls="vm-classic" aria-selected="true">Venue Manager View</a>
                <a class="nav-link waves-light" id="detail-tab-classic" data-toggle="tab" href="#detail-classic" role="tab"
                aria-controls="detail-classic" aria-selected="false">Shift Details View</a>
            {% endif %}
            </li>
            <li class="nav-item">
            </li>
          </ul>
          <div class="tab-content border-right border-bottom border-left rounded-bottom" id="TabContent">
            {% comment %} Details view tab {% endcomment %}
            {% if  event_template.is_template%}
              <div class="tab-pane fade active show" id="detail-classic" role="tabpanel" aria-labelledby="detail-tab-classic">
            {% elif event_template.is_template == 0 %}
              <div class="tab-pane fade" id="detail-classic" role="tabpanel" aria-labelledby="detail-tab-classic">
            {% endif %}
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Time</th>
                    <th scope="col"> # Vol. Req.</th>
                    <th scope="col">description</th>
                    <th scope="col">
                      <a class="text-white btn btn-sm btn-primary" href="{% url 'volunteer:new_shift' event_template.id %}">
                        Edit Shifts
                      </a>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for shift in event_template.shift_set.all %}
                    <tr>
                      <td class="scope">{{forloop.counter}}</td>
                      <td>{{shift.start_time}} - {{shift.end_time}}</td>
                      <td>{{shift.num_volunteers}}</td>
                      <td>{{shift.description}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            {% comment %} Venue manager view tab {% endcomment %}
            {% if  event_template.is_template%}
              <div class="tab-pane fade show" id="vm-classic" role="tabpanel" aria-labelledby="detail-tab-classic">
            {% elif event_template.is_template == 0 %}
              <div class="tab-pane fade active show" id="vm-classic" role="tabpanel" aria-labelledby="detail-tab-classic">
            {% endif %}
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Time</th>
                    <th scope="col">slots remaining</th>
                    <th scope="col">volunteer(s)</th>
                  </tr>
                </thead>
                <tbody>
                  {% for shift in event_template.shift_set.all %}
                    <tr>
                      <td class="scope">{{forloop.counter}}</td>
                      <td>{{shift.start_time}} - {{shift.end_time}}</td>
                      <td>{{shift.slots_remaining}}</td>
                      <td>
                        {% if shift.volunteer_set.all|length == 0 %}
                          <p>No Volunteers</p>
                        {% endif %}
                        {% for volunteer in shift.volunteer_set.all %}
                          <li class="vol-li row">
                            <dt class="col-sm-3">{{volunteer.name}}</dt>
                              <dd class="col-sm-9">
                                <a href="{% url 'volunteer:delete_volunteer' volunteer.id %}">
                                  <i class="m-1 text-danger fas fa-user-minus"></i>
                                </a>
                            </dd>
                          </li>
                        {% endfor %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div> {# tab pane #}
          </div> {# tab content #}
        </div> {# tab container #}
      </div>  {# classic tabs #}
    </div> {# column #}
  </div> {# row #}
{% endblock content %}

{% block scripts %}
  <script src="{% static "scripts/copyLink.js"%}"></script>
{% endblock scripts %}