{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container">
  {% if  event_template.is_template %}
    <h1 class="header text-center">Event Blueprint Details</h1>
  {% elif event_template.is_template == 0 %}
    <h1 class="header text-center">{{event_template.name}} on {{event_template.date}}</h1>
  {% endif %}
  <div class="row">
    <div class= "row col-lg-6 col-sm-12 mt-5 mb-4">
      <dt class="col-sm-3"> Event Name:</dt>
      <dd class="col-md-9">{{event_template.name}}</dd>
      <dt class="col-sm-3"> Venue:</dt>
      <dd class="col-md-9">{{event_template.venue}}</dd>
      <dt class="col-sm-3"> Location:</dt>
      <dd class="col-md-9">{{event_template.venue.location}}</dd>
      <dt class="col-sm-3"> Description:</dt>
      <dd class="col-md-9">{{event_template.description}}</dd>
      {% if event_template.is_template == 0  %}
      <dt class="col-sm-3"> Date:</dt>
      <dd class="col-md-9">{{event_template.date}}</dd>
      {% endif %}
       <div class="text-center col">
          <div class="col-8 btn-group-md btn-group-vertical mt-4">
          {% if event_template.is_template == 0 %}
            <button class="m-1 px-2 btn-dark btn copyLink">Copy Sign-up Link</button>
            <input type="text" class="sr-only" value="{{domain}}/sign_up/{{event_template.sign_up_url}}" id="url">
          {% endif %}
          {% if  event_template.is_template %}
            <a href="{% url 'volunteer:schedule_event' event_template.id %}"class="m-1 btn-dark btn">Schedule Occurence</a>
          {% endif %}
              <a class="m-1 px-2 btn btn-primary text-white" href="{% url 'volunteer:edit_event_template' event_template.id %}">edit event details</a>
              <a class="m-1 px-2 btn btn-danger text-white" href="{% url 'volunteer:delete_event_confirm' event_template.id %}">delete event</a>
          </div>
       </div>
    </div>

      <div class= "col-lg-6 col-sm-12">
        <h4 class="text-center mt-2">Volunteer Shifts</h4>
        <div class="classic-tabs">
          <ul class="nav nav-tabs" id="volTab" role="tablist">
            <li class="nav-item">
            {% if  event_template.is_template%}
                <a class="nav-link waves-light disabled" id="vm-tab-classic" data-toggle="tab" href="#vm-classic"
                role="tab" aria-controls="vm-classic" aria-selected="false">Venue Manager View</a>
                <a class="nav-link waves-light active show" id="detail-tab-classic" data-toggle="tab" href="#detail-classic" role="tab"
                aria-controls="detail-classic" aria-selected="true">Shift Details View</a>
            {% elif event_template.is_template == 0 %}
                <a class="nav-link waves-light active show" id="vm-tab-classic" data-toggle="tab" href="#vm-classic"
                role="tab" aria-controls="vm-classic" aria-selected="true">Venue Manager View</a>
                <a class="nav-link waves-light" id="detail-tab-classic" data-toggle="tab" href="#detail-classic" role="tab"
                aria-controls="detail-classic" aria-selected="false">Shift Details View</a>
            {% endif %}
            </li>
            <li class="nav-item">
            </li>
          </ul>
          <div class="tab-content border-right border-bottom border-left rounded-bottom" id="TabContent">
            {% comment %} Details view tab {% endcomment %}
            {% if  event_template.is_template%}
              <div class="container tab-pane fade active show" id="detail-classic" role="tabpanel" aria-labelledby="detail-tab-classic">
            {% elif event_template.is_template == 0 %}
              <div class="container tab-pane fade" id="detail-classic" role="tabpanel" aria-labelledby="detail-tab-classic">
            {% endif %}
                <div class="row bg-dark text-white py-3">
                  <div class="col-1 d-flex align-items-center">
                    <div>#</div>
                  </div>
                  <div class="col-3 d-flex align-items-center">
                    <div>Time</div>
                  </div>
                  <div class="col-2 d-flex align-items-center">
                    <div> # Vol.</div>
                  </div>
                  <div class="col-3 d-flex align-items-center">
                    <div class="text-truncate">description</div>
                  </div>
                  <div class="col-2 d-flex align-items-center">
                    <div>
                      <a class="text-white btn btn-sm btn-primary m-0 px-3 py-2" href="{% url 'volunteer:new_shift' event_template.id %}">
                        Edit
                      </a>
                    </div>
                  </div>
                </div>

                {% for shift in event_template.shift_set.all %}
                  <div class="row py-3 border-bottom">
                    <div class="col-1">{{forloop.counter}}</div>
                    <div class="col-3">{{shift.start_time}} - {{shift.end_time}}</div>
                    <div class="col-2">{{shift.num_volunteers}}</div>
                    <div class="col-5">{{shift.description}}</div>
                  </div>
                {% endfor %}
            </div>

            {% comment %} Venue manager view tab {% endcomment %}
            {% if  event_template.is_template%}
              <div class="container tab-pane fade show" id="vm-classic" role="tabpanel" aria-labelledby="detail-tab-classic">
            {% elif event_template.is_template == 0 %}
              <div class="container tab-pane fade active show" id="vm-classic" role="tabpanel" aria-labelledby="detail-tab-classic">
            {% endif %}
                  <div class="row bg-dark text-white py-3">
                    <div class="col-1">#</div>
                    <div class="col-3">Time</div>
                    <div class="col-2">slots</div>
                    <div class="col-5">volunteer(s)</div>
                  </div>
                  {% for shift in event_template.shift_set.all %}
                    <div class="row border-bottom py-2">
                      <div class="col-1 d-flex align-items-center">
                        <div>{{forloop.counter}}</div>
                      </div>
                      <div class="col-3 d-flex align-items-center">
                        <div>{{shift.start_time}} - {{shift.end_time}}</div>
                      </div>
                      <div class="col-2 d-flex align-items-center">
                        <div class="pl-2">{{shift.slots_remaining}}</div>
                      </div>
                      <div class="col-5 d-flex flex-column align-items-center">
                        {% if shift.volunteer_set.all|length == 0 %}
                          <p class="m-0">No Volunteers</p>
                        {% endif %}
                        {% for volunteer in shift.volunteer_set.all %}
                          <div class="w-100 d-flex justify-content-between">
                            <dt>{{volunteer.name}}</dt>
                              <dd>
                                <a href="{% url 'volunteer:delete_volunteer' volunteer.id %}">
                                  <i class="ml-1 text-danger fas fa-user-minus"></i>
                                </a>
                            </dd>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
            </div> {# tab pane #}
          </div> {# tab content #}
        </div> {# tab container #}
      </div>  {# classic tabs #}
    </div> {# column #}
  </div> {# row #}
{% endblock content %}

{% block scripts %}
  <script src="{% static "scripts/copyLink.js"%}"></script>
{% endblock scripts %}