{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-6 offset-md-3 d-flex flex-column align-items-center">
            <h2 class="mt-5 p-4 text-center">Schedule An Event</h2>
            <form id="scheduleEventForm" action="{% url 'volunteer:schedule_event' %}" method="POST">
                {% csrf_token %}
                <div id="div_id_select_event" class="control-group">
                    <label for="id_select_event" class="control-label ">
                      Event to Schedule:
                    </label>
                    <div class="controls">
                      <select required name="events" id="id_select_event">
                              <option value="">------</option>
                          {% for event in event_templates %}
                              <option value="{{event.id}}">{{event.name}}</option>
                          {% endfor %}
                      </select>
                    </div>
                </div>
                <div>
                  {{ cal }}
                </div>
                <div class="text-center text-md-right mt-4">
                  <button class="btn btn-primary" type="submit">Schedule Event</button>
                </div>
            </form>
          </div>

        </div>
    </div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'scripts/yearCal.js' %}"></script>
{% endblock scripts %}

