{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5 p-5 row">
        <div class="col-sm-12 col-lg-6">
            <form class="shift-inputs" method="POST" action="{% url 'volunteer:new_shift_template' event_template.id %}">
                {% csrf_token %}
                {{shift_form.as_p}}
            <button type="submit">Add Shift</button>
            </form>
        </div>
        <div class="col-sm-12 col-lg-6">
            {% for shift in current_shifts %}
                <ul class="list-group">
                    <li class="list-group-item">start time: {{shift.start_time}}</li>
                    <li class="list-group-item">end time: {{shift.end_time}}</li>
                    <li class="list-group-item"># volunteers: {{shift.num_volunteers}}</li>
                    <li class="list-group-item">description: {{shift.description}}</li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


