{% extends 'index.html' %}
{% block content %}
    <h2 class="mt-5 p-4">Sign up for a volunteer shift at {{scheduled_event.name}}!</h2>
    <div class="container">
        <ul class="list-group list-group-horizontal-lg">
            <li class="list-group-item">{{scheduled_event.venue}}</li>
            <li class="list-group-item">{{scheduled_event.date}}</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">{{scheduled_event.description}}</li>
        </ul>
        <form action="{% url 'volunteer:sign_up' unique_url %}" method="POST">
            {% csrf_token %}
            {{shift_form.as_p}}
            <button type="submit">Sign Up!</button>
        </form>
    </div>
{% endblock content %}