{% extends 'index.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
{% endblock styles %}

{% block content %}
    <div class="container">
        <h5 class="header">Managing events for {{org.name}}</h5>
        {% for event in scheduled_events %}
            {% comment %} TODO: figure out how to dynamically generate this path {% endcomment %}
            <a href="{% url  'volunteer:sign_up' event.sign_up_url %}">localhost:8000/sign_up{{event.sign_up_url}}</a>
        {% endfor %}
    </div>
{% endblock content %}
