{% extends 'index.html' %}
{% load static %}
{% block styles %}
{% endblock styles %}

{% block content %}
    <div class="container">
        <h5 class="header">Managing events for {{org.name}}</h5>
        <div class="row">

            {% comment %} event templates {% endcomment %}
            <div class="col-sm-12 col-lg-6 col-md-12 container">
                <div class="row">
                    <div class="col-6">
                        <h2>Event Blueprints</h2>
                    </div>
                    <div class="col-5 offset-1 d-flex align-items-center justify-content-end">
                        <button class="btn-sm btn-primary">
                            <a class="text-white" href="/new_event_template">New Event Blueprint</a>
                        </button>
                    </div>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Venue</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if event_templates|length == 0 %}
                            <tr>
                                <th scope="row" class="alert"> You haven't created any event blueprints.
                                    <button class="btn-sm btn-primary">
                                        <a href="/new_event_template">Try it!</a>
                                    </button>
                                </th>
                            </tr>
                        {% endif %}
                        {% for event in event_templates %}
                            <tr>
                                <td scope="row">{{event.name}}</td>
                                <td>{{event.venue.name}}</td>
                                <td>
                                    <button class="btn-sm btn-dark">
                                        <a class="text-white" href="{% url 'volunteer:schedule_event' event.id %}">schedule event</a>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn-sm btn-primary">
                                        <a class="text-white" href="{% url 'volunteer:event_template_details' event.id %}">details</a>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% comment %} Scheduled events {% endcomment %}
            <div class="col-sm-12 col-lg-6 col-md-12 container">
                                <div class="row">
                    <div class="col-7">
                        <h2>Schedule</h2>
                    </div>
                    <div class="col-5 d-flex align-items-center justify-content-center">
                        {% comment %} button goes here {% endcomment %}
                    </div>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if scheduled_events|length == 0 %}
                            <tr scope="row">
                                <th class="alert"> You haven't scheduled any events. Try Creating an Event Blueprint or scheduling from an existing event.</th>
                            </tr>
                        {% endif %}
                        {% for event in scheduled_events %}
                            <tr scope="row">
                                <th>{{event.name}}</td>
                                <td>{{event.date}}</td>
                                <td>
                                  <button class="btn-sm btn-dark copyLink">Copy sign-up link</button>
                                  <input type="text" class="sr-only" value="{{domain}}/sign_up/{{event.sign_up_url}}" id="url">
                                </td>
                                <td>
                                    <button class="btn-sm btn-primary">
                                        <a class="text-white" href="{% url 'volunteer:event_template_details' event.id %}">details</a>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
  <script src="{% static "scripts/copyLink.js"%}"></script>
{% endblock scripts %}
