{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'website/index.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/mdb.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/font.css' %}">


    {% block styles %}

    {% endblock styles %}

    <title>inStep</title>
</head>

<body>
    {% block nav %}
        {% if user.is_authenticated and user.organization_set.all|length != 0 %}
            <!--Main Navigation-->
            <header>

            <nav class="navbar fixed-top navbar-expand-lg navbar-dark mdb-color darken-3 scrolling-navbar">
                <a class="navbar-brand bg-white mdb-color darken-3" href="{% url 'volunteer:dashboard' %}">
                  <strong>Welcome, {{user.username}} </strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'volunteer:profile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/new_event_template">New Event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>

            </header>
            <!--Main Navigation-->
        {% endif %}
    {% endblock nav %}

    {% block content %}

    {% endblock content %}


    <script src="{% static 'scripts/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'scripts/popper.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/mdb.min.js' %}"></script>

     {% block scripts %}

     {% endblock scripts %}

</body>
</html>