{% extends 'index.html' %}

{% block content %}
    <div class="flex-container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-5 align-items-center justify-content-center">
                <h1 class="mt-5">inStep</h1>
                <h5>Events meet Volunteers.</h5>
                <h5>Volunteers meet Events.</h5>
                    <a class="btn light-blue darken-3" href="/login">Login</a>
                    <a class="btn mdb-color darken-3" href="/register">Register</a>
            </div>
        </div>
    </div>
{% endblock content %}