{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row d-flex flex-column">
    <h1 class="user_welcome text-center mt-3">
      Register
      <img class="bg-white p-1 mr-2" src="{% static 'volunteer/images/instep-logo-blue.png' %}" width="75" alt="inStep Logo">
    </h1>
      <div class="col-6 offset-3">
        <form id="user_form" method="post" action="{% url 'volunteer:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
              {{ user_form|crispy }}
            <!-- Provide a button to click to submit the form. -->
            <div class="text-center text-md-right">
              <input class="m-3 btn light-blue darken-3" id="register_new" type="submit" name="submit" value="Register" />
            </div>
            <div class="text-center mb-5">
              <a href="{% url 'volunteer:login' %}">Return User? Login.</a>
            </div>
        </form>
      </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'volunteer/scripts/confirmPass.js' %}"></script>
{% endblock scripts %}