{% extends "index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <div class="row d-flex flex-column">
    <h1 class="user_welcome text-center">Register</h1>
      <div class="col-6 offset-3">
        <form id="user_form" method="post" action="{% url 'volunteer:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
              {{ user_form|crispy }}
              <div id="div_id_confirm_pass" class="control-group">
                <label for="id_confirm_pass" class="control-label ">
                Re-Enter Password
                </label>
                <div class="controls">
                  <input type="password" required name="confirm_pass" maxlength="150" class="textinput textInput form-control" id="id_confirm_pass">
                </div>
                <label id="invalid_pass" for="id_confirm_pass" class=" alert text-danger control-label d-none">
                  Passwords Must Match
                </label>
              </div>
            <!-- Provide a button to click to submit the form. -->
            <input class="m-2 btn btn-primary center" id="register_new" type="submit" name="submit" value="Register" />
        </form>
      </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'scripts/confirmPass.js' %}"></script>
{% endblock scripts %}