.header {
    margin-top: 5rem;
}

.detail--label {
    font-weight: bold;
}

.invisible {
    opacity: 100%;
}

.bg-selected {
    background-color: #add4fd
}

.text-selected {
    color: #060153;
    font-weight: bold;
}

.bg-today {
    background-color: #1C304A;
}

.past-day {
    background-color: rgba(128, 128, 128, 0.432);
}

.text-sched-date {
    border: solid 2px rgb(196, 4, 4);
    color: rgba(145, 144, 144, 0.986);
}

.box {
    display: inline-block;
    height: 25px;
    width: 20px;
    border: solid 2px rgb(196, 4, 4);
}

.date-key {
    font-size: 15px;
}